body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

main {
  display: flex; /* Canvas und user-tools nebeneinander */
  gap: 60px; /* Abstand zwischen Canvas und matrix-container*/
}

#color-row-top {
  display: grid; /* Farbkästchen oben nebeneinander*/
  gap: 40px;
  margin-bottom: 40px;
  margin-left: 80px; /* 40px (Farbkästchen-Breite + 40px (gap) nach rechts verschieben, damit Farbkästchen oben über den Inputfeldern sind */
}

#matrix-container {
 display: grid;
 gap: 40px;
 margin-bottom: 80px; /* Abstand zu den restlichen User-tools*/
}


#matrix-container input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  
}

#color-square {
   width: 40px;
  height: 40px;
}

#user-tools-container {
  display: flex;
  gap: 60px; /* Abstand zwischen Matrix Elementen und dem Rest */
  margin-top: 30px;
}

#set-random-position-button {
  margin-top: 500px;
  height: 30px;
}